{% extends "base.html" %}
{% block content %}
    <script src={{url_for('static', filename='Chart.min.js')}}></script>
    <h1 style="font-family: 'Arimo', sans-serif">Explicación de predicción: </h1>
    <form action="/explanation" method="post" name="explanation">
    {% if resultHTML %}
    <h3> Dataset: {{ dataset }} </h3>
    <div>
    </div>
    <div>
    {{ resultHTML }}
    </div>
  	{% endif %}
    {% if mensaje %}
    <h3 id="mensaje"> {{mensaje}} </h3>
    {% endif %}
    <div>
    <a  class="btn " href="/index"> Cancelar </a>&nbsp;
    <a id="Save" href="{{url_for('explanation',arguments=auxid+'-'+dataset+'-'+prediction+'-save')}}" class="btn btn-primary">Guardar Resultados
    </a>
    </div>
    </form>
    <script type="text/javascript">
    </script>
{% endblock %}