<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>See it full</title>
</head>
<body>
    <!-- 
    Using the attribut style for styling is VERY BAD!.
    Styling should be given in CSS files.
    But this is just a small example.
    -->
    <div style="font-size: x-large; 
        margin-top: 3cm;
        width: 60%;
        padding: 1em; 
        margin-left: auto;
        margin-right: auto;
        background-color: Cornsilk;
        color: Navy; font-weight: bold;">
        <p style="text-align: center">
            {{msg|safe}}
        </p>
    </div>
</body>
</html>
