{% extends "base.html" %}
{% block content %}
    <h1 style="font-family: 'Arimo', sans-serif" >Noticias leídas: </h1>
    <form action="/savepdfnews" method="post" name="pdf">
      {% if mostrar %}
      <table>
      <tr>
      <th>Autor </th>
      <th>Fecha</th>
      <th>Nombre Archivo </th>
      <th>Almacenada en BD</th>
      </tr>
      {% for noticia in scan.noticias %}
      <tr>
      <td>{{ noticia.autor}}</td>
      <td>{{ noticia.fecha }}</td>
      <td>{{ noticia.titular }}</td>
      <td>{{noticia.almacenada}} </td>
      </tr>
      {% endfor %} 
      </table>
      <input type="submit" name="submit" value="Guardar Nuevas">
      <p><a href="{{url_for('scanpdf')}}" class="button">Volver</a></p>
      {% endif %}
      {% if mensaje %}
      <h3>{{mensaje}} </h3>
      {% endif %}
    	</form>
      <script type="text/javascript">
        $(".nav").find(".active").removeClass("active");
        $("#PDF").addClass("active");
      </script>
       
{% endblock %}