{% extends "base.html" %}
{% block content %}
    <h1 style="font-family: 'Arimo', sans-serif">Buscador de noticias en RSS: </h1>
    <h2 style="font-family: 'Arimo', sans-serif">Elige el medio que desees: </h2>
    <form method="POST">
    <select name='media-select'>
    {% for option in options %}
    <option value="{{option.value}}">{{option.name}} </option>
    {% endfor %}
    </select>
    <p><input type="submit" name="submit" value="Aceptar"></p>
    {% if mensaje %}
    <h1> {{mensaje}}<h1>
    {% endif %}
    {% if fuente %}
    <table class="table">
    <tr>
    <th>Autor</th>
    <th>Título</th>
    <th>Fecha</th>
    <th>Almacenada en BD </th>
  	</tr>
    {% for noticiaFila in rssWS.noticias %}
    <tr>
    <td>{{noticiaFila.author }}</td>
    <td>{{noticiaFila.title}}</td>
    <td>{{noticiaFila.publishDate}}</td>
    <td>{{noticiaFila.almacenada}}</td>
    </tr>
    {% endfor %} 
    </table>
    <input type="submit" name="submit" value="Guardar Nuevas">
    {% endif %}
    </form>
    <script type="text/javascript">
      $(".nav").find(".active").removeClass("active");
      $("#RSS").addClass("active");
    </script>
       
{% endblock %}